<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="slide-img"><img class="slide-img" src="http://www.vieux.montreal.qc.ca/histoire/images/00_p26b.jpg"></div>
		</div>

		<div class="item">
			<div class="slide-img"><img src="http://www.offshoreshelflist.com/images/header-bvi.jpg"></div>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<h1>Simple Blog</h1>


<div class="main">
	<%= react_component('ArticleContainer') %>
	<%= react_component('CommentContainer') %>
</div>
