<h1>Simple Blog</h1>


<div class="main">
	<%= react_component('ArticleContainer') %>
	<%= react_component('CommentContainer') %>
</div>

<script>
	$(document).ready(function(){
		$('.slick').slick()
	});
</script>
